@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul, li
{
    list-style: none;
    display: inline;
    color: white;
    font-size: 150%;
}

a:hover
{
    text-shadow: 0px 0px 7.5px yellow;
    transition: .25s;
}

section
{
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

section#sec1
{
    background-image: url("the-challenger-stands-in-front-of-the-spooky-castle-illustration.jpg");
    height: 60vh;
}

nav
{
    height: 7.5vh;
    background-color: #202020;
    box-shadow: 0 10px 40px rgba(20,20,20,1);
    text-align: center;
    padding-top: 1vh;
}

h1
{
    font-family: 'MedievalSharp', cursive;
    font-size: 600%;
    color: #fcf700;
    text-align: center;
    padding-top: 20vh;
}

a
{
    color: white;
    text-decoration: none;
}

p
{
    color: white;
    text-indent: 10vh;
    font-size: 300%;
    font-weight: 300;
    padding: 7.5vh;
    padding-top: 10vh;
}

section#sec2
{
    height: 70vh;
    background-image: url("the-destroyed-city.jpg");
}

section#sec3
{
    height: 80vh;
    background-image: url("wizard-in-the-dark-dungeon-illustration.jpg");
}

section#sec4
{
    height: 130vh;
    background-image: url("mapa2.jpg");
    background-repeat: no-repeat;
}

section#sec5
{   
    height: 190vh;
    background-color: rgb(43, 0, 44);
}

img
{
    display: inline;
    height: 50vh;
    width: 37.5vh;
}

div
{
    display: flex;
    height: 60vh;
    padding: 10vh;  
    box-sizing: border-box; 
    width: 40%;
}

div.inn
{
    display: flex;
    flex-direction: column;
    width: 700vh;
    padding: 0;
}

p.info
{
    color: white;
    font-size: 200%;
    padding: 5vh;
    padding-top: 0;
    width: 100%;
}

h2
{
    width: 100vh;
    color: white;
    font-size: 400%;
    padding: 3vh;
    padding-bottom: 5vh;
    padding-left: 10vh;
}

section#sec6
{
    height: 97.5vh;
    background-image: url("scenes-of-horror-in-the-canyon.jpg");
}

div#contact1, div#contact2
{
    height: fit-content;
    display: inline;
}

div#contact1
{
    float: left;
    width: 40%;
    padding: 0;
    padding-left: 3vh;
}

div#contact2
{
    float: left;
    width: 60%;
}

h3
{
    color: white;
    font-size: 250%;
    margin: 5vh;
    margin-top: 10vh;
}

h4
{
    color: white;
    font-size: 200%;
    margin-left: 5vh;
}

p.info2
{
    text-indent: 0;
    color: white;
    font-size: 150%;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

::placeholder
{
    color: rgb(255, 255, 255);
}

input.name
{
    width: 35vh;
    height: 4vh;
    background: none;
    border: 0.5vh white solid;
    border-radius: 0;
    color: rgb(253, 207, 0);
    font-size: 125%;
    margin-left: 0.5vh;
    margin-bottom: 1vh;
}

input#mail
{
    width: 72.5vh;
    height: 4vh;
    background: none;
    border: 0.5vh white solid;
    border-radius: 0;
    color: rgb(253, 207, 0);
    font-size: 125%;
    margin-left: 0.5vh;
    margin-bottom: 1vh;
}

textarea
{
    width: 72.5vh;
    height: 40vh;
    margin-left: 0.5vh;
    background: none;
    border: 0.5vh white solid;
    border-radius: 0;
    color: rgb(253, 207, 0);
    font-size: 125%;
    margin-bottom: 1vh;
}

button
{
    width: 74vh;
    height: 6vh;
    background-color: blue;
    border: 1vh blue solid;
    border-radius: 0;
    color: white;
    font-size: 125%;
    margin-left: 0.5vh;
    margin-bottom: 1vh;
}

button:hover
{
    border: 0.5vh white solid;
}

input:focus, input#mail:focus
{
    outline: none;
    border: 0.5vh rgb(253, 207, 0) solid;
}

textarea:focus
{    
    outline: none;
    border: 0.5vh rgb(253, 207, 0) solid;
}

div#social
{
    height: 15vh;
    background-color: #202020;
    width: 100%;
    padding: 1vh;
}

img.logo
{
    width: 12.5vh;
    height: auto;
    padding: 0;
    margin-left: 3vh;
}

li.logos
{
    padding: 0;
    margin: 0;
}

p#socials
{
    margin: 1vh;
    padding: 0;
    padding-top: 2vh;
    color: white;
    font-size: 250%;
    font-weight: bold;
}

section#sec7
{
    height: 60vh;
    background-color: black;
}

img#construct
{
    width: 100%;
}